# Desenvolvimento de Sofware
Git_GitHub.pdf
Roadmaps_DIO_Notion.pdf

# Dominando Python
Dominando_Python

# Modelagem
Modelagem_dados_SQL/company.sql
Modelagem_dados_SQL/x_men.sql
Modelagem_dados_SQL/Desafio_E-commerce.mwb.bak
Modelagem_dados_SQL/Banco_de_Dados_Introdução.pdf
Modelagem_dados_SQL/Banco_de_Dados_Modelagem_01.pdf
Modelagem_dados_SQL/Banco_de_Dados_Modelagem_02.pdf
Modelagem_dados_SQL/Banco_de_Dados_Explorando_consultas.pdf

# Machine Learning
Fundamentos_Tecnicas_ML
